 <% include ../particles/header %>
 
    <div class="container">
                <div class="jumbotron">
                        <div class="container">
                          <h1 class="display-4">Next</h1>
                          <p class="lead">"You don't get to 500 million friends without making a few enemies."</p>
                        </div>
                      </div>
        </div>
        
        
        <div class="container">
            
            <div>
                <img src="<%=content.image%>">
                
            </div>
            
            <div>
                <p><%=content.tag%></p>
            </div>
            
            <div>
                <p><%=content.paragraph%></p>
            </div>
            
            
        </div>
        
 
 
 
 
  <% include ../particles/footer %>
 